<!DOCTYPE html>
<html>
    <head>
    	{% load static %}
        <title>Hallbooking system</title>
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="{% static calendar.js %}"></script>


        <div class="header"><h1>HALL BOOKING SYSTEM</div>
    </head>
    <body>
        {% if y %}
        <p>{{ y}}</p>
        {% endif %}

       {% if Rooms  %}
        <div class='box'>
        {% for room in Rooms %}
                {% if room.name in x %}
                <div class='red_dabba' id={{ room.name }}>{{ room.name }}</div>
               
                {% else %}
                <div class='green_dabba' id={{ room.name }}>{{ room.name }}</div>
                 {% endif %}
        {% endfor %}
        </div>
    
        {% endif %}
        <form id="bookings_form" action='/hallbooking/home/' method="post"/>
             
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="give_the_damn_spaces">
                {{ field.help_text }}
                {{ field }}
                {{ field.errors }}
                </div>
            {% endfor %}
            
        <input type="button" value="Check for availablility" class="submit" > 
        </form>
        {% if y %}
          <input type="button" value="Book this fucker" class="book" > 


        {% endif %}
        <a href="/hallbooking/logout/" class='logout'>logout</a>

      	<div class="footer"><h2><b>Developed and maintained by DeltaForce</h2></div>
<script>
    
        var hall='BUCK';
        function choose(x)
        {
            hall=x;
            alert(x+' chosen');
        }
        $(function() {
            $('#A11').click(function(){
                choose('A11');
            });
                       $('#A12').click(function(){
                        choose('A12');
            });
           $('#A13').click(function(){
            choose('A13');
            });
           $('#A2').click(function(){
            choose('A2');

            });
           $('#Barn').click(function(){
               choose('Barn'); 
            });
           $('#Civil').click(function(){
            choose('Civil Audi');
            });
           $('#EEE').click(function(){
            choose('EEE Audi');
            });

        });
        $(function() {
                $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
    });

$('.submit').click(function(){
    $('#bookings_form').submit();


   /* var data;
    data=$("#id_date_booking").val();
     $.get('/hallbooking/check_availability/', {data:data}, function(d){
        console.log(d);
           });
     */
});

    
$('.book').click(function(){
  var rollnumber,name,organization,need_lcd,need_audio,mobile_number,staff_mailid,starttime,endtime,date_booking,is_alloted;
  rollnumber=$('#id_rollnumber').val();
  name=hall;
  need_lcd=$('#id_need_lcd').val();
  need_audio=$('#id_need_audio').val();
  mobile_number=$('#id_mobile_number').val();
  staff_mailid=$('#id_staff_mailid').val();
  starttime=$('#id_starttime').val();
  endtime=$('#id_endtime').val();
  date_booking=$('#id_date_booking').val();
  organization=$('#id_organization').val();
  
  
  console.log(mobile_number);
  console.log(endtime);
  
  $.get('/hallbooking/check_availability/',{'rollnumber':rollnumber,
                                            'name':name, 
                                            'need_lcd': need_lcd,
                                            'need_audio':need_audio,
                                            'mobile_number':mobile_number,
                                            'staff_mailid':staff_mailid,
                                            'starttime':starttime,
                                            'endtime':endtime,
                                            'date_booking':date_booking,
                                            'organization':organization,
                                        }, function(d){
        console.log(d);
           });



});



    </script>     
    </body>

</html>