<!DOCTYPE html>
<html>
    <head>
    	{% load static %}
        <title>Hallbooking system</title>
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="{% static calendar.js %}"></script>


        <div class="header"><h1>HALL BOOKING SYSTEM</div>
    </head>
    <body>
        {% if y %}
        <p>{{ y }}</p>
        {% endif %}

       {% if Rooms  %}
        <div class='box'>
        {% for room in Rooms %}
                {% if room.name in x %}
                <div class='red_dabba'>{{ room.name }}</div>
               
                {% else %}
                <div class='green_dabba'>{{ room.name }}</div>
                 {% endif %}
        {% endfor %}
        </div>
    
        {% endif %}
        <form id="bookings_form" action='/hallbooking/home/' method="post"/>
             
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="give_the_damn_spaces">
                {{ field.help_text }}
                {{ field }}
                {{ field.errors }}
                </div>
            {% endfor %}
            
        <input type="button" value="Check for availablility" class="submit" > 
        </form>
        <input type="button" value="Book this fucker" class="book" > 
      	<div class="footer"><h2><b>Developed and maintained by DeltaForce</h2></div>
<script>
    
        var blah;
        $(function() {
                $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
    });

$('.submit').click(function(){
    $('#bookings_form').submit();

   /* var data;
    data=$("#id_date_booking").val();
     $.get('/hallbooking/check_availability/', {data:data}, function(d){
        console.log(d);
           });
     */
});

    
$('.book').click(function(){
    
   var data=[];
   data['name']=$('#id_name').val();
   data['rollnumber']=$('#id_rollnumber').val();
   data['organization']=$('#id_organization').val();
   data['need_lcd']=$('#id_need_lcd').val();
   data['need_audio']=$('#id_need_audio').val();
   data['mobile_number']=$('#id_mobile_number').val();
   data['staff_mailid']=$('#id_staff_mailid').val();
   data['starttime']=$('#id_starttime').val();
   data['endtime']=$('#id_endtime').val();
  $.get('/hallbooking/check_availability/', {'data':data}, function(d){
        console.log(d);
           });
});



    </script>     
    </body>

</html>