<!DOCTYPE html>
<html>
    <head>
    	{% load static %}
        <title>Hallbooking system</title>
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <div class="header"><h1>HALL BOOKING SYSTEM</div>
    </head>
    <body>

    	<div class="everything">
      	<input type="text" class="down" name="rollnumber" placeholder="rollnumber"/><br/><br/>
        <input type="password" class="down" name="password" placeholder="password"/><br/><br/>
        <input type="submit"  class="down" name="login" value="Login"/><br/><br/>
        </div> 
      	<div class="footer"><h2><b>Developed and maintained by DeltaForce</h2></div>
    </body>

</html>