.everything
{
	position: absolute;
	left:575px;
	top:250px;
}
.green_dabba
{
	height:50px;
	width:50px; 
	float:left;
	background-color: green;
	margin-left:25px;
	text-align: center;
	margin-top:5px;
	padding-top:15px;
}
.give_the_damn_spaces
{
	
}
.red_dabba
{
	height:50px;
	width:50px; 
	float:left;
	background-color:red;
	margin-left:25px;
	text-align:center;
	margin-top:5px;
	padding-top: 15px;
}
.box
{
	float: left;
	position: absolute;
	left:400px;
	top:250px;
}

.down
{
	height:25px;
	text-align: center;
}
.header
{
	text-align: center;
}
.footer
{
	text-align: center;
	position: fixed;
	top:550px !important;
	left:520px !important;
}